#ðŸ“Œ ExtracciÃ³n

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
url_json = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

In [4]:
df = pd.read_json(url_json)

In [5]:
df

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [7]:
df.shape

(7267, 6)

In [8]:
df.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

In [9]:
df.iloc[0]

customerID                                           0002-ORFBO
Churn                                                        No
customer      {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
phone            {'PhoneService': 'Yes', 'MultipleLines': 'No'}
internet      {'InternetService': 'DSL', 'OnlineSecurity': '...
account       {'Contract': 'One year', 'PaperlessBilling': '...
Name: 0, dtype: object

In [10]:
df.isnull().sum()

customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

In [11]:
df.isnull().sum().sum()

np.int64(0)

#ðŸ”§ TransformaciÃ³n

##Columna CustomerID

In [12]:
df['customerID']

0       0002-ORFBO
1       0003-MKNFE
2       0004-TLHLJ
3       0011-IGKFF
4       0013-EXCHZ
           ...
7262    9987-LUTYD
7263    9992-RRAMN
7264    9992-UJOEL
7265    9993-LHIEB
7266    9995-HOTOH
Name: customerID, Length: 7267, dtype: object

In [13]:
df['customerID'].head()

0    0002-ORFBO
1    0003-MKNFE
2    0004-TLHLJ
3    0011-IGKFF
4    0013-EXCHZ
Name: customerID, dtype: object

In [14]:
df['customerID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: customerID
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [15]:
df['customer'].shape

(7267,)

In [16]:
df['customerID'].isnull().sum()

np.int64(0)

In [17]:
duplicado_df_customerID = df['customerID'].duplicated().sum()

In [18]:
duplicado_df_customerID

np.int64(0)

In [19]:
df['customerID'].str.len()

0       10
1       10
2       10
3       10
4       10
        ..
7262    10
7263    10
7264    10
7265    10
7266    10
Name: customerID, Length: 7267, dtype: int64

In [20]:
df['customerID'].str.len().value_counts(dropna=False)

customerID
10    7267
Name: count, dtype: int64

Nota: Remover estas instrucciones si es necesario o para claridad de la informaciÃ³n.

In [21]:
df['customerID'].str.strip()

0       0002-ORFBO
1       0003-MKNFE
2       0004-TLHLJ
3       0011-IGKFF
4       0013-EXCHZ
           ...
7262    9987-LUTYD
7263    9992-RRAMN
7264    9992-UJOEL
7265    9993-LHIEB
7266    9995-HOTOH
Name: customerID, Length: 7267, dtype: object

In [22]:
df['customerID'] = df['customerID'].str.strip()

In [23]:
df['customerID'].sample(5)

844     1197-BVMVG
1111    1569-TTNYJ
269     0392-BZIUW
3884    5312-UXESG
6339    8722-NGNBH
Name: customerID, dtype: object

In [24]:
df['customerID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: customerID
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [25]:
df['customerID'].str.len().value_counts(dropna=False)

customerID
10    7267
Name: count, dtype: int64

##Columna Churn

In [26]:
df['Churn']

0        No
1        No
2       Yes
3       Yes
4       Yes
       ...
7262     No
7263    Yes
7264     No
7265     No
7266     No
Name: Churn, Length: 7267, dtype: object

In [27]:
df['Churn'].sample(5)

4328     No
3007     No
4685     No
506      No
5506    Yes
Name: Churn, dtype: object

In [28]:
df['Churn'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: Churn
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [29]:
df['Churn'].shape

(7267,)

Nota: Detectar valores ausentes.

In [30]:
df['Churn'].isnull().sum()

np.int64(0)

Nota: Detectar valores duplicados.

In [31]:
duplicado_df_Churn = df['Churn'].duplicated().sum()

In [32]:
duplicado_df_Churn

np.int64(7264)

Nota: Verificar el contenido de la columna 'Churn' por valores Ãºnicos.

In [33]:
df['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [34]:
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [35]:
df['Churn'].replace('', np.nan)

0        No
1        No
2       Yes
3       Yes
4       Yes
       ...
7262     No
7263    Yes
7264     No
7265     No
7266     No
Name: Churn, Length: 7267, dtype: object

Nota: Guardando lo cambios en la columna 'Churn'y reemplazar el valor vaciÃ³ por 'nan'.

In [36]:
df['Churn'] = df['Churn'].replace('', np.nan)

In [37]:
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

Nota: Verificar de nuevo la columna 'Churn'.

In [38]:
df['Churn'].unique()

array(['No', 'Yes', nan], dtype=object)

In [39]:
df['Churn'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: Churn
Non-Null Count  Dtype
--------------  -----
7043 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [40]:
df['Churn'].shape[0]

7267

In [41]:
df['Churn'].isnull().sum()

np.int64(224)

##Nomalizando los datos JSON

###Customer

In [42]:
df_customer_N = pd.json_normalize(df['customer'])

In [43]:
df_customer_N

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [44]:
df_customer_N.sample(5)

      gender  SeniorCitizen Partner Dependents  tenure
523     Male              0     Yes         No       4
4442    Male              0     Yes         No      72
3359    Male              0     Yes         No      72
3873    Male              0      No         No      32
5388  Female              1      No         No      64

In [45]:
df_customer_N.iloc[0]

gender           Female
SeniorCitizen         0
Partner             Yes
Dependents          Yes
tenure                9
Name: 0, dtype: object

In [46]:
df_customer_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         7267 non-null   object
 1   SeniorCitizen  7267 non-null   int64
 2   Partner        7267 non-null   object
 3   Dependents     7267 non-null   object
 4   tenure         7267 non-null   int64
dtypes: int64(2), object(3)
memory usage: 284.0+ KB

In [47]:
df_customer_N.shape

(7267, 5)

In [48]:
df_customer_N.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure'], dtype='object')

In [49]:
df_customer_N.isnull().sum()

gender           0
SeniorCitizen    0
Partner          0
Dependents       0
tenure           0
dtype: int64

In [50]:
df_customer_N.isnull().sum().sum()

np.int64(0)

In [51]:
duplicado_df_customer_N = df_customer_N.duplicated().sum()

In [52]:
duplicado_df_customer_N

np.int64(6376)

In [53]:
#df_merged_customer = pd.concat([df_customer_N, df[['customerID', 'Churn']]], axis=1)
df_merged_customer = pd.concat([df[['customerID', 'Churn']], df_customer_N], axis = 1)

In [54]:
df_merged_customer.sample(5)

      customerID Churn  gender  SeniorCitizen Partner Dependents  tenure
385   0556-FJEGU    No    Male              0      No         No      58
1225  1752-OZXFY    No    Male              0     Yes         No      60
6219  8559-CIZFV   Yes    Male              0     Yes        Yes      21
7085  9758-MFWGD    No  Female              1     Yes        Yes      48
1780  2525-GVKQU    No  Female              0      No         No      60

In [55]:
df_merged_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7267 non-null   object
 1   Churn          7043 non-null   object
 2   gender         7267 non-null   object
 3   SeniorCitizen  7267 non-null   int64
 4   Partner        7267 non-null   object
 5   Dependents     7267 non-null   object
 6   tenure         7267 non-null   int64
dtypes: int64(2), object(5)
memory usage: 397.5+ KB

In [56]:
df_merged_customer.shape

(7267, 7)

In [57]:
df_merged_customer.isnull().sum().sum()

np.int64(224)

In [58]:
duplicado_df_merged_customer = df_merged_customer.duplicated().sum()

In [59]:
duplicado_df_merged_customer

np.int64(0)

In [60]:
dupllicado_df_merged_customer_1 = df_merged_customer.duplicated(subset= ['customerID']).sum()

In [61]:
dupllicado_df_merged_customer_1

np.int64(0)

###Phone

In [62]:
df_phone_N = pd.json_normalize(df['phone'])

In [63]:
df_phone_N

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [64]:
df_phone_N.head()

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes
2          Yes            No
3          Yes            No
4          Yes            No

In [65]:
df_phone_N.iloc[0]

PhoneService     Yes
MultipleLines     No
Name: 0, dtype: object

In [66]:
df_phone_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PhoneService   7267 non-null   object
 1   MultipleLines  7267 non-null   object
dtypes: object(2)
memory usage: 113.7+ KB

In [67]:
df_phone_N.shape

(7267, 2)

In [68]:
df_phone_N.columns

Index(['PhoneService', 'MultipleLines'], dtype='object')

In [69]:
df_phone_N.isnull().sum()

PhoneService     0
MultipleLines    0
dtype: int64

In [70]:
df_phone_N.isnull().sum().sum()

np.int64(0)

In [71]:
duplicado_df_phone_N = df_phone_N.duplicated().sum()

In [72]:
duplicado_df_phone_N

np.int64(7264)

In [73]:
#df_merged_phone = pd.concat([df_phone_N, df[['customerID', 'Churn']]], axis=1)
#df_merged_phone = pd.concat([df[['customerID', 'Churn']], df_phone_N], axis = 1)

###Internet

In [74]:
df_internet_N = pd.json_normalize(df['internet'])

In [75]:
df_internet_N

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [76]:
df_internet_N.tail()

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [77]:
df_internet_N.iloc[0]

InternetService     DSL
OnlineSecurity       No
OnlineBackup        Yes
DeviceProtection     No
TechSupport         Yes
StreamingTV         Yes
StreamingMovies      No
Name: 0, dtype: object

In [78]:
df_internet_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   InternetService   7267 non-null   object
 1   OnlineSecurity    7267 non-null   object
 2   OnlineBackup      7267 non-null   object
 3   DeviceProtection  7267 non-null   object
 4   TechSupport       7267 non-null   object
 5   StreamingTV       7267 non-null   object
 6   StreamingMovies   7267 non-null   object
dtypes: object(7)
memory usage: 397.5+ KB

In [79]:
df_internet_N.shape

(7267, 7)

In [80]:
df_internet_N.columns

Index(['InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies'],
      dtype='object')

In [81]:
df_internet_N.isnull().sum()

InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

In [82]:
df_internet_N.isnull().sum().sum()

np.int64(0)

In [83]:
duplicado_df_internet_N = df_internet_N.duplicated().sum()

In [84]:
duplicado_df_internet_N

np.int64(7138)

In [85]:
#df_merged_internet = pd.concat([df_internet_N, df[['customerID', 'Churn']]], axis=1)
#df_merged_internet = pd.concat([df[['customerID', 'Churn']], df_internet_N], axis = 1)

###Account

In [86]:
df_account_N = pd.json_normalize(df['account'])

In [87]:
df_account_N

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [88]:
df_account_N.sample(5)

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
2739,Month-to-month,Yes,Electronic check,95.05,1290
3716,Two year,No,Credit card (automatic),86.45,3574.5
5940,Month-to-month,No,Electronic check,50.55,565.35
485,One year,No,Credit card (automatic),72.45,4653.85
714,One year,Yes,Mailed check,89.10,3342

In [89]:
df_account_N.iloc[0]

Contract                One year
PaperlessBilling             Yes
PaymentMethod       Mailed check
Charges.Monthly             65.6
Charges.Total              593.3
Name: 0, dtype: object

In [90]:
df_account_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contract          7267 non-null   object
 1   PaperlessBilling  7267 non-null   object
 2   PaymentMethod     7267 non-null   object
 3   Charges.Monthly   7267 non-null   float64
 4   Charges.Total     7267 non-null   object
dtypes: float64(1), object(4)
memory usage: 284.0+ KB

In [91]:
df_account_N.shape

(7267, 5)

In [92]:
df_account_N.columns

Index(['Contract', 'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [93]:
df_account_N.isnull().sum()

Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [94]:
df_account_N.isnull().sum().sum()

np.int64(0)

In [95]:
duplicado_df_account_N = df_account_N.duplicated().sum()

In [96]:
duplicado_df_account_N

np.int64(336)

In [97]:
#df_merged_account = pd.concat([df_account_N, df[['customerID', 'Churn']]], axis=1)
#df_merged_account = pd.concat([df[['customerID', 'Churn']], df_account_N], axis = 1)

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final