#ðŸ“Œ ExtracciÃ³n

In [2346]:
import pandas as pd

In [2347]:
import numpy as np

In [2348]:
url_json = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

In [2349]:
df = pd.read_json(url_json)

In [2350]:
df

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [2351]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [2352]:
df.shape

(7267, 6)

In [2353]:
df.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

In [2354]:
df.iloc[0]

customerID                                           0002-ORFBO
Churn                                                        No
customer      {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
phone            {'PhoneService': 'Yes', 'MultipleLines': 'No'}
internet      {'InternetService': 'DSL', 'OnlineSecurity': '...
account       {'Contract': 'One year', 'PaperlessBilling': '...
Name: 0, dtype: object

In [2355]:
df.isnull().sum()

customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

#ðŸ”§ TransformaciÃ³n

##Columna CustomerID

In [2356]:
df['customerID']

0       0002-ORFBO
1       0003-MKNFE
2       0004-TLHLJ
3       0011-IGKFF
4       0013-EXCHZ
           ...
7262    9987-LUTYD
7263    9992-RRAMN
7264    9992-UJOEL
7265    9993-LHIEB
7266    9995-HOTOH
Name: customerID, Length: 7267, dtype: object

In [2357]:
df['customerID'].head()

0    0002-ORFBO
1    0003-MKNFE
2    0004-TLHLJ
3    0011-IGKFF
4    0013-EXCHZ
Name: customerID, dtype: object

In [2358]:
df['customerID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: customerID
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [2359]:
df['customer'].shape

(7267,)

In [2360]:
df['customerID'].isnull().sum()

np.int64(0)

In [2361]:
duplicado_df_customerID = df['customerID'].duplicated().sum()

In [2362]:
duplicado_df_customerID

np.int64(0)

In [2363]:
df['customerID'].str.len()

0       10
1       10
2       10
3       10
4       10
        ..
7262    10
7263    10
7264    10
7265    10
7266    10
Name: customerID, Length: 7267, dtype: int64

In [2364]:
df['customerID'].str.len().value_counts(dropna=False)

customerID
10    7267
Name: count, dtype: int64

In [2365]:
df_ID_E = df['customerID'].str.contains(r'\s', case=False).value_counts()

In [2366]:
df_ID_E

customerID
False    7267
Name: count, dtype: int64

##Columna Churn

In [2367]:
df['Churn']

0        No
1        No
2       Yes
3       Yes
4       Yes
       ...
7262     No
7263    Yes
7264     No
7265     No
7266     No
Name: Churn, Length: 7267, dtype: object

In [2368]:
df['Churn'].sample(5)

2793    Yes
2782     No
3488     No
482      No
4030    Yes
Name: Churn, dtype: object

In [2369]:
df['Churn'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: Churn
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [2370]:
df['Churn'].shape

(7267,)

Nota: Detectar valores ausentes.

In [2371]:
df['Churn'].isnull().sum()

np.int64(0)

Nota: Detectar valores duplicados.Revisar para borrar duplicados.

In [2372]:
duplicado_df_Churn = df['Churn'].duplicated().sum()

In [2373]:
duplicado_df_Churn

np.int64(7264)

Nota: Verificar el contenido de la columna 'Churn' por valores Ãºnicos.

In [2374]:
df['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [2375]:
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [2376]:
(df['Churn'].str.len() == 0).sum()

np.int64(224)

In [2377]:
df_churn_EE = df['Churn'].str.contains(r'^$|\s', case=False).value_counts()

In [2378]:
df_churn_EE

Churn
False    7043
True      224
Name: count, dtype: int64

In [2379]:
df['Churn'].replace('', np.nan)

/usr/local/lib/python3.11/dist-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

0        No
1        No
2       Yes
3       Yes
4       Yes
       ...
7262     No
7263    Yes
7264     No
7265     No
7266     No
Name: Churn, Length: 7267, dtype: object

Nota: Guardando lo cambios en la columna 'Churn'y reemplazar el valor vaciÃ³ por 'nan'.

In [2380]:
df['Churn'] = df['Churn'].replace('', np.nan)

In [2381]:
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

Nota: Verificar de nuevo la columna 'Churn'.

In [2382]:
df['Churn'].unique()

array(['No', 'Yes', nan], dtype=object)

In [2383]:
df['Churn'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: Churn
Non-Null Count  Dtype
--------------  -----
7043 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [2384]:
df['Churn'].shape[0]

7267

In [2385]:
df['Churn'].isnull().sum()

np.int64(224)

##Nomalizando los datos JSON

###Columna Customer

In [2386]:
df_customer_N = pd.json_normalize(df['customer'])

In [2387]:
df_customer_N

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [2388]:
df_customer_N.sample(5)

      gender  SeniorCitizen Partner Dependents  tenure
2091  Female              0      No         No      46
3768  Female              0      No         No       9
2748  Female              0      No         No      14
1768    Male              0      No         No       1
502   Female              0      No         No      34

In [2389]:
df_customer_N.iloc[0]

gender           Female
SeniorCitizen         0
Partner             Yes
Dependents          Yes
tenure                9
Name: 0, dtype: object

In [2390]:
df_customer_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         7267 non-null   object
 1   SeniorCitizen  7267 non-null   int64
 2   Partner        7267 non-null   object
 3   Dependents     7267 non-null   object
 4   tenure         7267 non-null   int64
dtypes: int64(2), object(3)
memory usage: 284.0+ KB

In [2391]:
df_customer_N.shape

(7267, 5)

In [2392]:
df_customer_N.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure'], dtype='object')

In [2393]:
df_customer_N.isnull().sum()

gender           0
SeniorCitizen    0
Partner          0
Dependents       0
tenure           0
dtype: int64

In [2394]:
duplicado_df_customer_N = df_customer_N.duplicated().sum()

In [2395]:
duplicado_df_customer_N

np.int64(6376)

####Columna Customer_genfer

In [2396]:
df_customer_N['gender']

0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7262    Female
7263      Male
7264      Male
7265      Male
7266      Male
Name: gender, Length: 7267, dtype: object

In [2397]:
df_customer_N['gender'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: gender
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [2398]:
df_customer_N['gender'].shape

(7267,)

In [2399]:
df_customer_N['gender'].isnull().sum()

np.int64(0)

In [2400]:
df_customer_N['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [2401]:
df_gender_E = (df_customer_N['gender'] == '').sum()

In [2402]:
df_gender_E

np.int64(0)

####Columna SeniorCitizen

In [2403]:
df_customer_N['SeniorCitizen']

0       0
1       0
2       0
3       1
4       1
       ..
7262    0
7263    0
7264    0
7265    0
7266    0
Name: SeniorCitizen, Length: 7267, dtype: int64

In [2404]:
df_customer_N['SeniorCitizen'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: SeniorCitizen
Non-Null Count  Dtype
--------------  -----
7267 non-null   int64
dtypes: int64(1)
memory usage: 56.9 KB

In [2405]:
df_customer_N['SeniorCitizen'].shape

(7267,)

In [2406]:
df_customer_N['SeniorCitizen'].unique()

array([0, 1])

####Columna Partner

In [2407]:
df_customer_N['Partner']

0       Yes
1        No
2        No
3       Yes
4       Yes
       ...
7262     No
7263    Yes
7264     No
7265    Yes
7266    Yes
Name: Partner, Length: 7267, dtype: object

In [2408]:
df_customer_N['Partner'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: Partner
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [2409]:
df_customer_N['Partner'].shape

(7267,)

In [2410]:
df_customer_N['Partner'].unique()

array(['Yes', 'No'], dtype=object)

####Columna Dependents

In [2411]:
df_customer_N['Dependents']

0       Yes
1        No
2        No
3        No
4        No
       ...
7262     No
7263     No
7264     No
7265    Yes
7266    Yes
Name: Dependents, Length: 7267, dtype: object

In [2412]:
df_customer_N['Dependents'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: Dependents
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [2413]:
df_customer_N['Dependents'].shape

(7267,)

In [2414]:
df_customer_N['Dependents'].unique()

array(['Yes', 'No'], dtype=object)

####Convertir los datos 'Yes' y 'No' de las columnas Dependents y Columna Partner a 0 y 1

In [2415]:
mapeo_si_no = {'Yes': 1, 'No': 0}

In [2416]:
columnas_mapear_customerN = ['Dependents', 'Partner']

In [2417]:
df_customer_N[columnas_mapear_customerN] = df_customer_N[columnas_mapear_customerN].apply(lambda col: col.map(mapeo_si_no))

In [2418]:
df_customer_N

      gender  SeniorCitizen  Partner  Dependents  tenure
0     Female              0        1           1       9
1       Male              0        0           0       9
2       Male              0        0           0       4
3       Male              1        1           0      13
4     Female              1        1           0       3
...      ...            ...      ...         ...     ...
7262  Female              0        0           0      13
7263    Male              0        1           0      22
7264    Male              0        0           0       2
7265    Male              0        1           1      67
7266    Male              0        1           1      63

[7267 rows x 5 columns]

In [2419]:
df_customer_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         7267 non-null   object
 1   SeniorCitizen  7267 non-null   int64
 2   Partner        7267 non-null   int64
 3   Dependents     7267 non-null   int64
 4   tenure         7267 non-null   int64
dtypes: int64(4), object(1)
memory usage: 284.0+ KB

####Columna tenure

In [2420]:
df_customer_N['tenure']

0        9
1        9
2        4
3       13
4        3
        ..
7262    13
7263    22
7264     2
7265    67
7266    63
Name: tenure, Length: 7267, dtype: int64

In [2421]:
df_customer_N['tenure'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: tenure
Non-Null Count  Dtype
--------------  -----
7267 non-null   int64
dtypes: int64(1)
memory usage: 56.9 KB

In [2422]:
df_customer_N['tenure'].shape

(7267,)

In [2423]:
df_customer_N['tenure'].unique()

array([ 9,  4, 13,  3, 71, 63,  7, 65, 54, 72,  5, 56, 34,  1, 45, 50, 23,
       55, 26, 69, 11, 37, 49, 66, 67, 20, 43, 59, 12, 27,  2, 25, 29, 14,
       35, 64, 39, 40,  6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44,
       22, 24, 19, 47, 62, 46, 52,  8, 60, 48, 28, 41, 53, 68, 51, 31, 36,
       17, 18, 38, 42,  0])

In [2424]:
#df_merged_customer = pd.concat([df_customer_N, df[['customerID', 'Churn']]], axis=1)
#df_merged_customer = pd.concat([df[['customerID', 'Churn']], df_customer_N], axis = 1)

In [2425]:
#df_merged_customer.sample(5)

In [2426]:
#df_merged_customer.info()

In [2427]:
#df_merged_customer.shape

In [2428]:
#df_merged_customer.isnull().sum().sum()

In [2429]:
#duplicado_df_merged_customer = df_merged_customer.duplicated().sum()

In [2430]:
#duplicado_df_merged_customer

In [2431]:
#dupllicado_df_merged_customer_1 = df_merged_customer.duplicated(subset= ['customerID']).sum()

In [2432]:
#dupllicado_df_merged_customer_1

###Phone

In [2433]:
df_phone_N = pd.json_normalize(df['phone'])

In [2434]:
df_phone_N

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [2435]:
df_phone_N.head()

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes
2          Yes            No
3          Yes            No
4          Yes            No

In [2436]:
df_phone_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PhoneService   7267 non-null   object
 1   MultipleLines  7267 non-null   object
dtypes: object(2)
memory usage: 113.7+ KB

In [2437]:
df_phone_N.shape

(7267, 2)

In [2438]:
df_phone_N.columns

Index(['PhoneService', 'MultipleLines'], dtype='object')

In [2439]:
df_phone_N.isnull().sum()

PhoneService     0
MultipleLines    0
dtype: int64

####Columna PhoneService

In [2440]:
df_phone_N['PhoneService']

0       Yes
1       Yes
2       Yes
3       Yes
4       Yes
       ...
7262    Yes
7263    Yes
7264    Yes
7265    Yes
7266     No
Name: PhoneService, Length: 7267, dtype: object

In [2441]:
df_phone_N['PhoneService'].unique()

array(['Yes', 'No'], dtype=object)

#####Convertir los datos 'Yes' y 'No' de la Columna PhoneService a 0 y 1

In [2442]:
df_phone_N['PhoneService'] = df_phone_N['PhoneService'].map(mapeo_si_no)

In [2443]:
df_phone_N

      PhoneService     MultipleLines
0                1                No
1                1               Yes
2                1                No
3                1                No
4                1                No
...            ...               ...
7262             1                No
7263             1               Yes
7264             1                No
7265             1                No
7266             0  No phone service

[7267 rows x 2 columns]

In [2444]:
df_phone_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PhoneService   7267 non-null   int64
 1   MultipleLines  7267 non-null   object
dtypes: int64(1), object(1)
memory usage: 113.7+ KB

####Columna MultipleLines

In [2445]:
df_phone_N['MultipleLines']

0                     No
1                    Yes
2                     No
3                     No
4                     No
              ...
7262                  No
7263                 Yes
7264                  No
7265                  No
7266    No phone service
Name: MultipleLines, Length: 7267, dtype: object

In [2446]:
df_phone_N['MultipleLines'].unique()

array(['No', 'Yes', 'No phone service'], dtype=object)

In [2447]:
#df_merged_phone = pd.concat([df_phone_N, df[['customerID', 'Churn']]], axis=1)
#df_merged_phone = pd.concat([df[['customerID', 'Churn']], df_phone_N], axis = 1)

###Internet

In [2448]:
df_internet_N = pd.json_normalize(df['internet'])

In [2449]:
df_internet_N

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [2450]:
df_internet_N.tail()

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [2451]:
df_internet_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   InternetService   7267 non-null   object
 1   OnlineSecurity    7267 non-null   object
 2   OnlineBackup      7267 non-null   object
 3   DeviceProtection  7267 non-null   object
 4   TechSupport       7267 non-null   object
 5   StreamingTV       7267 non-null   object
 6   StreamingMovies   7267 non-null   object
dtypes: object(7)
memory usage: 397.5+ KB

In [2452]:
df_internet_N.shape

(7267, 7)

In [2453]:
df_internet_N.columns

Index(['InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies'],
      dtype='object')

In [2454]:
df_internet_N.isnull().sum()

InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

####Columna InternetService

In [2455]:
df_internet_N['InternetService']

0               DSL
1               DSL
2       Fiber optic
3       Fiber optic
4       Fiber optic
           ...
7262            DSL
7263    Fiber optic
7264            DSL
7265            DSL
7266            DSL
Name: InternetService, Length: 7267, dtype: object

In [2456]:
df_internet_N['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

####Columna OnlineSecurity

In [2457]:
df_internet_N['OnlineSecurity']

0        No
1        No
2        No
3        No
4        No
       ...
7262    Yes
7263     No
7264     No
7265    Yes
7266    Yes
Name: OnlineSecurity, Length: 7267, dtype: object

In [2458]:
df_internet_N['OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

####Columna OnlineBackup

In [2459]:
df_internet_N['OnlineBackup']

0       Yes
1        No
2        No
3       Yes
4        No
       ...
7262     No
7263     No
7264    Yes
7265     No
7266    Yes
Name: OnlineBackup, Length: 7267, dtype: object

In [2460]:
df_internet_N['OnlineBackup'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

####Columna DeviceProtection

In [2461]:
df_internet_N['DeviceProtection']

0        No
1        No
2       Yes
3       Yes
4        No
       ...
7262     No
7263     No
7264     No
7265    Yes
7266    Yes
Name: DeviceProtection, Length: 7267, dtype: object

In [2462]:
df_internet_N['DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

####Columna TechSupport

In [2463]:
df_internet_N['TechSupport']

0       Yes
1        No
2        No
3        No
4       Yes
       ...
7262    Yes
7263     No
7264     No
7265    Yes
7266     No
Name: TechSupport, Length: 7267, dtype: object

In [2464]:
df_internet_N['TechSupport'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

####Columna StreamingTV

In [2465]:
df_internet_N['StreamingTV']

0       Yes
1        No
2        No
3       Yes
4       Yes
       ...
7262     No
7263     No
7264     No
7265     No
7266    Yes
Name: StreamingTV, Length: 7267, dtype: object

In [2466]:
df_internet_N['StreamingTV'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

####Columna StreamingMovies

In [2467]:
df_internet_N['StreamingMovies']

0        No
1       Yes
2        No
3       Yes
4        No
       ...
7262     No
7263    Yes
7264     No
7265    Yes
7266    Yes
Name: StreamingMovies, Length: 7267, dtype: object

In [2468]:
df_internet_N['StreamingMovies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [2469]:
#df_merged_internet = pd.concat([df_internet_N, df[['customerID', 'Churn']]], axis=1)
#df_merged_internet = pd.concat([df[['customerID', 'Churn']], df_internet_N], axis = 1)

###Account

In [2470]:
df_account_N = pd.json_normalize(df['account'])

In [2471]:
df_account_N

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [2472]:
df_account_N.sample(5)

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
1212,Month-to-month,Yes,Electronic check,79.50,2665
5792,One year,Yes,Bank transfer (automatic),94.00,4905.75
3268,Month-to-month,No,Electronic check,91.85,1574.45
4059,Month-to-month,No,Electronic check,79.20,172.85
2038,Month-to-month,Yes,Electronic check,105.10,3634.8

In [2473]:
df_account_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contract          7267 non-null   object
 1   PaperlessBilling  7267 non-null   object
 2   PaymentMethod     7267 non-null   object
 3   Charges.Monthly   7267 non-null   float64
 4   Charges.Total     7267 non-null   object
dtypes: float64(1), object(4)
memory usage: 284.0+ KB

In [2474]:
df_account_N.shape

(7267, 5)

In [2475]:
df_account_N.columns

Index(['Contract', 'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [2476]:
df_account_N.isnull().sum()

Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

####Columna Contract

In [2477]:
df_account_N['Contract']

0             One year
1       Month-to-month
2       Month-to-month
3       Month-to-month
4       Month-to-month
             ...
7262          One year
7263    Month-to-month
7264    Month-to-month
7265          Two year
7266          Two year
Name: Contract, Length: 7267, dtype: object

In [2478]:
df_account_N['Contract'].unique()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

####Columna PaperlessBilling

In [2479]:
df_account_N['PaperlessBilling']

0       Yes
1        No
2       Yes
3       Yes
4       Yes
       ...
7262     No
7263    Yes
7264    Yes
7265     No
7266     No
Name: PaperlessBilling, Length: 7267, dtype: object

In [2480]:
df_account_N['PaperlessBilling'].unique()

array(['Yes', 'No'], dtype=object)

#####Convertir los datos 'Yes' y 'No' de la Columna PaperlessBilling a 0 y 1

In [2481]:
df_account_N['PaperlessBilling'] = df_account_N['PaperlessBilling'].map(mapeo_si_no)

In [2482]:
df_account_N['PaperlessBilling']

0       1
1       0
2       1
3       1
4       1
       ..
7262    0
7263    1
7264    1
7265    0
7266    0
Name: PaperlessBilling, Length: 7267, dtype: int64

####Columna PaymentMethod

In [2483]:
df_account_N['PaymentMethod']

0           Mailed check
1           Mailed check
2       Electronic check
3       Electronic check
4           Mailed check
              ...
7262        Mailed check
7263    Electronic check
7264        Mailed check
7265        Mailed check
7266    Electronic check
Name: PaymentMethod, Length: 7267, dtype: object

In [2484]:
df_account_N['PaymentMethod'].unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

####Columna Charges.Monthly

In [2485]:
df_account_N['Charges.Monthly']

0       65.60
1       59.90
2       73.90
3       98.00
4       83.90
        ...
7262    55.15
7263    85.10
7264    50.30
7265    67.85
7266    59.00
Name: Charges.Monthly, Length: 7267, dtype: float64

In [2486]:
df_account_N['Charges.Monthly'].isnull().sum()

np.int64(0)

In [2487]:
(df_account_N['Charges.Monthly'] == '').value_counts()

Charges.Monthly
False    7267
Name: count, dtype: int64

####Columna Charges.Total

In [2488]:
df_account_N['Charges.Total']

0         593.3
1         542.4
2        280.85
3       1237.85
4         267.4
         ...
7262      742.9
7263     1873.7
7264      92.75
7265    4627.65
7266     3707.6
Name: Charges.Total, Length: 7267, dtype: object

In [2489]:
df_account_N['Charges.Total'].isnull().sum()

np.int64(0)

In [2490]:
df_chargest_E = (df_account_N['Charges.Total'] == ' ').sum()

In [2491]:
df_chargest_E

np.int64(11)

In [2492]:
df_chargest_EE = df_account_N['Charges.Total'].str.contains(r'^$|\s', case=False).value_counts()

In [2493]:
df_chargest_EE

Charges.Total
False    7256
True       11
Name: count, dtype: int64

In [2494]:
# Replace empty strings (' ') with NaN in the 'Charges.Total' column
df_account_N['Charges.Total'] = df_account_N['Charges.Total'].replace(' ', np.nan)

In [2495]:
# Now, convert the 'Charges.Total' column to float64.
# The values that were originally ' ' are now NaN and can be handled by astype.
df_account_N['Charges.Total'] = df_account_N['Charges.Total'].astype(np.float64)

In [2496]:
df_account_N['Charges.Total']

0        593.30
1        542.40
2        280.85
3       1237.85
4        267.40
         ...
7262     742.90
7263    1873.70
7264      92.75
7265    4627.65
7266    3707.60
Name: Charges.Total, Length: 7267, dtype: float64

In [2497]:
df_account_N['Charges.Total'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: Charges.Total
Non-Null Count  Dtype
--------------  -----
7256 non-null   float64
dtypes: float64(1)
memory usage: 56.9 KB

In [2498]:
df_account_N['Charges.Total'].isna().sum()

np.int64(11)

In [2499]:
df_account_N

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,1,Mailed check,65.60,593.30
1,Month-to-month,0,Mailed check,59.90,542.40
2,Month-to-month,1,Electronic check,73.90,280.85
3,Month-to-month,1,Electronic check,98.00,1237.85
4,Month-to-month,1,Mailed check,83.90,267.40
...,...,...,...,...,...
7262,One year,0,Mailed check,55.15,742.90
7263,Month-to-month,1,Electronic check,85.10,1873.70
7264,Month-to-month,1,Mailed check,50.30,92.75
7265,Two year,0,Mailed check,67.85,4627.65
7266,Two year,0,Electronic check,59.00,3707.60

####Columna Cuentas.Diarias

In [2500]:
df_account_N['Cuentas.Diarias'] = (df_account_N['Charges.Monthly'] / 30).round(2)

In [2501]:
df_account_N

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Cuentas.Diarias
0,One year,1,Mailed check,65.60,593.30,2.19
1,Month-to-month,0,Mailed check,59.90,542.40,2.00
2,Month-to-month,1,Electronic check,73.90,280.85,2.46
3,Month-to-month,1,Electronic check,98.00,1237.85,3.27
4,Month-to-month,1,Mailed check,83.90,267.40,2.80
...,...,...,...,...,...,...
7262,One year,0,Mailed check,55.15,742.90,1.84
7263,Month-to-month,1,Electronic check,85.10,1873.70,2.84
7264,Month-to-month,1,Mailed check,50.30,92.75,1.68
7265,Two year,0,Mailed check,67.85,4627.65,2.26
7266,Two year,0,Electronic check,59.00,3707.60,1.97

In [2502]:
df_account_N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contract          7267 non-null   object
 1   PaperlessBilling  7267 non-null   int64
 2   PaymentMethod     7267 non-null   object
 3   Charges.Monthly   7267 non-null   float64
 4   Charges.Total     7256 non-null   float64
 5   Cuentas.Diarias   7267 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 340.8+ KB

In [2503]:
#df_merged_account = pd.concat([df_account_N, df[['customerID', 'Churn']]], axis=1)

##Unir las tablas en un a sola tabla

In [2511]:
df_M = pd.concat([df[['customerID', 'Churn']], df_customer_N, df_phone_N, df_internet_N,df_account_N], axis = 1)

In [2512]:
df_M

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Cuentas.Diarias
0,0002-ORFBO,No,Female,0,1,1,9,1,No,DSL,...,No,Yes,Yes,No,One year,1,Mailed check,65.60,593.30,2.19
1,0003-MKNFE,No,Male,0,0,0,9,1,Yes,DSL,...,No,No,No,Yes,Month-to-month,0,Mailed check,59.90,542.40,2.00
2,0004-TLHLJ,Yes,Male,0,0,0,4,1,No,Fiber optic,...,Yes,No,No,No,Month-to-month,1,Electronic check,73.90,280.85,2.46
3,0011-IGKFF,Yes,Male,1,1,0,13,1,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.00,1237.85,3.27
4,0013-EXCHZ,Yes,Female,1,1,0,3,1,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.90,267.40,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,0,0,13,1,No,DSL,...,No,Yes,No,No,One year,0,Mailed check,55.15,742.90,1.84
7263,9992-RRAMN,Yes,Male,0,1,0,22,1,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,1,Electronic check,85.10,1873.70,2.84
7264,9992-UJOEL,No,Male,0,0,0,2,1,No,DSL,...,No,No,No,No,Month-to-month,1,Mailed check,50.30,92.75,1.68
7265,9993-LHIEB,No,Male,0,1,1,67,1,No,DSL,...,Yes,Yes,No,Yes,Two year,0,Mailed check,67.85,4627.65,2.26
7266,9995-HOTOH,No,Male,0,1,1,63,0,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,0,Electronic check,59.00,3707.60,1.97

In [2513]:
df_M.columns.tolist()

['customerID',
 'Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Charges.Monthly',
 'Charges.Total',
 'Cuentas.Diarias']

##Cambiar el nombre de las columnas

In [2510]:
nuevos_nombres = {
    'customerID': 'ID_Cliente',
    'Churn': 'Abandono_Servicio', # 'Abandono' o 'Fuga_Cliente' tambiÃ©n funcionarÃ­an
    'gender': 'Genero',
    'SeniorCitizen': 'Ciudadano_Senior', # Â¿Es un adulto mayor?
    'Partner': 'Tiene_Pareja', # Â¿Tiene pareja?
    'Dependents': 'Tiene_Dependientes', # Â¿Tiene dependientes?
    'tenure': 'Antiguedad_Meses', # AntigÃ¼edad en meses
    'PhoneService': 'Servicio_Telefono', # Â¿Tiene servicio telefÃ³nico?
    'MultipleLines': 'Multiples_Lineas', # Â¿Tiene mÃºltiples lÃ­neas?
    'InternetService': 'Tipo_Servicio_Internet', # Tipo de servicio de internet
    'OnlineSecurity': 'Seguridad_Online', # Â¿Tiene seguridad en lÃ­nea?
    'OnlineBackup': 'Copia_Seguridad_Online', # Â¿Tiene copia de seguridad en lÃ­nea?
    'DeviceProtection': 'Proteccion_Dispositivo', # Â¿Tiene protecciÃ³n de dispositivo?
    'TechSupport': 'Soporte_Tecnico', # Â¿Tiene soporte tÃ©cnico?
    'StreamingTV': 'Streaming_TV', # Â¿Tiene servicio de streaming de TV?
    'StreamingMovies': 'Streaming_Peliculas', # Â¿Tiene servicio de streaming de pelÃ­culas?
    'Contract': 'Tipo_Contrato', # Tipo de contrato
    'PaperlessBilling': 'Facturacion_Sin_Papel', # FacturaciÃ³n sin papel
    'PaymentMethod': 'Metodo_Pago', # MÃ©todo de pago
    'Charges.Monthly': 'Cargos_Mensuales_USD', # Cargos mensuales en USD
    'Charges.Total': 'Cargos_Totales_USD', # Cargos totales en USD
    # 'Cuentas.Diarias' ya estÃ¡ bien, la dejamos tal cual o la incluimos si queremos renombrar
    'Cuentas.Diarias': 'Cuentas_Diarias_Registradas' # Por si quieres especificar
    }

In [2515]:
df_M.rename(columns=nuevos_nombres, inplace=True)

In [2516]:
df_M

,ID_Cliente,Abandono_Servicio,Genero,Ciudadano_Senior,Tiene_Pareja,Tiene_Dependientes,Antiguedad_Meses,Servicio_Telefono,Multiples_Lineas,Tipo_Servicio_Internet,...,Proteccion_Dispositivo,Soporte_Tecnico,Streaming_TV,Streaming_Peliculas,Tipo_Contrato,Facturacion_Sin_Papel,Metodo_Pago,Cargos_Mensuales_USD,Cargos_Totales_USD,Cuentas_Diarias_Registradas
0,0002-ORFBO,No,Female,0,1,1,9,1,No,DSL,...,No,Yes,Yes,No,One year,1,Mailed check,65.60,593.30,2.19
1,0003-MKNFE,No,Male,0,0,0,9,1,Yes,DSL,...,No,No,No,Yes,Month-to-month,0,Mailed check,59.90,542.40,2.00
2,0004-TLHLJ,Yes,Male,0,0,0,4,1,No,Fiber optic,...,Yes,No,No,No,Month-to-month,1,Electronic check,73.90,280.85,2.46
3,0011-IGKFF,Yes,Male,1,1,0,13,1,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.00,1237.85,3.27
4,0013-EXCHZ,Yes,Female,1,1,0,3,1,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.90,267.40,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,0,0,13,1,No,DSL,...,No,Yes,No,No,One year,0,Mailed check,55.15,742.90,1.84
7263,9992-RRAMN,Yes,Male,0,1,0,22,1,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,1,Electronic check,85.10,1873.70,2.84
7264,9992-UJOEL,No,Male,0,0,0,2,1,No,DSL,...,No,No,No,No,Month-to-month,1,Mailed check,50.30,92.75,1.68
7265,9993-LHIEB,No,Male,0,1,1,67,1,No,DSL,...,Yes,Yes,No,Yes,Two year,0,Mailed check,67.85,4627.65,2.26
7266,9995-HOTOH,No,Male,0,1,1,63,0,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,0,Electronic check,59.00,3707.60,1.97

In [2517]:
df_M.columns.tolist()

['ID_Cliente',
 'Abandono_Servicio',
 'Genero',
 'Ciudadano_Senior',
 'Tiene_Pareja',
 'Tiene_Dependientes',
 'Antiguedad_Meses',
 'Servicio_Telefono',
 'Multiples_Lineas',
 'Tipo_Servicio_Internet',
 'Seguridad_Online',
 'Copia_Seguridad_Online',
 'Proteccion_Dispositivo',
 'Soporte_Tecnico',
 'Streaming_TV',
 'Streaming_Peliculas',
 'Tipo_Contrato',
 'Facturacion_Sin_Papel',
 'Metodo_Pago',
 'Cargos_Mensuales_USD',
 'Cargos_Totales_USD',
 'Cuentas_Diarias_Registradas']

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final